{:paths   ["src" "resources"]
 :deps    {big-bang/serdes                     {:local/root "../serdes"}
           big-bang/http-client                {:local/root "../http-client"}
           big-bang/database                   {:local/root "../database"}
           babashka/process                    {:mvn/version "0.5.21"}
           babashka/fs                         {:mvn/version "0.5.20"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           metosin/malli                       {:mvn/version "0.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {big-bang/testing {:local/root "../testing"}}}

           :migration {:extra-deps {net.clojars.abogoyavlensky/automigrate {:mvn/version "0.2.1"}
                                    org.postgresql/postgresql              {:mvn/version "42.3.1"}}
                       :ns-default automigrate.core
                       :exec-args  {:models-file    "resources/db/models.edn"
                                    :migrations-dir "resources/db/migrations"}}}}
