{:deps  {}
 :tasks {
         unit-tests              (do
                                   (println "Running all unit tests")
                                   (shell "clojure -Srepro -M:test:poly test :dev"))

         integration-tests       (do
                                   (println "Running all integration tests")
                                   (shell "clojure -Srepro -M:test:poly test :itests"))
         get-migration-timestamp (let [now (new java.util.Date)
                                       now-str (.format (java.text.SimpleDateFormat. "yyyyMMddhhmmss") now)]
                                   (println now-str))}}
