{:deps  {}
 :tasks {
         test-all                (do
                                   (println "Running all tests")
                                   (shell "clojure -Srepro -M:test:poly test :all-bricks :dev"))
         get-migration-timestamp (let [now (new java.util.Date)
                                       now-str (.format (java.text.SimpleDateFormat. "yyyyMMddhhmmss") now)]
                                   (println now-str))}}
