{:deps    {org.clojure/clojure   {:mvn/version "1.11.1"}
           big-bang/config       {:local/root "./components/config"}
           big-bang/database     {:local/root "./components/database"}
           big-bang/logger       {:local/root "./components/logger"}
           big-bang/webserver    {:local/root "./components/webserver"}
           big-bang/feature-flag {:local/root "./components/feature-flag"}
           big-bang/serdes {:local/root "./components/serdes"}}

 :aliases {:dev  {:extra-paths ["test-resources"

                                "development/src"
                                "components/config/src"
                                "components/database/src"
                                "components/logger/src"
                                "components/webserver/src"
                                "components/feature-flag/src"
                                "components/serdes/src"]
                  :extra-deps  {org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}}}

           :test {:extra-paths ["components/config/test"
                                "components/database/test"
                                "components/logger/test"
                                "components/webserver/test"
                                "components/feature-flag/test"
                                "components/serdes/test"]
                  :extra-deps  {nubank/matcher-combinators {:mvn/version "3.8.6"}
                                clj-http/clj-http          {:mvn/version "3.12.3"}}}

           :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polyfy/polylith
                               {:git/url   "https://github.com/polyfy/polylith"
                                :sha       "9053b190d5f3b0680ac4fe5c5f1851f7c0d40830"
                                :deps/root "projects/poly"}

                               polylith-kaocha/test-runner
                               {:git/url   "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag   "v0.8.2"
                                :git/sha   "d1fcd40"
                                :deps/root "projects/test-runner"}}}}}
