{:deps    {}
 :aliases {:dev {:extra-paths ["development/src"
                               "components/config/src"
                               "components/database/src"
                               "components/logger/src"
                               "components/webserver/src"
                               "components/feature-flag/src"
                               "components/serdes/src"
                               "components/http-client/src"
                               "components/data-cloak/src"
                               "components/testing/src"]
                 :extra-deps  {;; Components
                               org.clojure/clojure   {:mvn/version "1.11.1"}
                               big-bang/config       {:local/root "./components/config"}
                               big-bang/database     {:local/root "./components/database"}
                               big-bang/logger       {:local/root "./components/logger"}
                               big-bang/webserver    {:local/root "./components/webserver"}
                               big-bang/feature-flag {:local/root "./components/feature-flag"}
                               big-bang/serdes       {:local/root "./components/serdes"}
                               big-bang/http-client  {:local/root "./components/http-client"}
                               big-bang/data-cloak   {:local/root "./components/data-cloak"}

                               ;; Bases

                               ;; Dev dependencies
                               ;; Tooling
                               org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}
                               djblue/portal                {:mvn/version "0.51.0"}

                               ;; Dev processes
                               babashka/fs       {:mvn/version "0.5.20"}
                               babashka/process  {:mvn/version "0.5.21"}
                               borkdude/deps.clj {:mvn/version "1.11.1.1429"}}}

           :test {:extra-paths ["components/config/test"
                                "components/database/test"
                                "components/logger/test"
                                "components/webserver/test"
                                "components/feature-flag/test"
                                "components/serdes/test"
                                "components/http-client/test"
                                "components/data-cloak/test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}

           :local {:extra-deps {big-bang/testing {:local/root "./components/testing"}}}

           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
                                slipset/deps-deploy           {:mvn/version "RELEASE"}
                                babashka/fs       {:mvn/version "0.5.20"}}
                   :ns-default build}

           :doc {:extra-deps {io.github.dundalek/dinodoc {:git/tag "v0.1.0" :git/sha "abb8482"}}
                 :main-opts  ["doc.clj"]}

           :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}

                               polylith-kaocha/test-runner
                               {:git/url   "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag   "v0.8.2"
                                :git/sha   "d1fcd40"
                                :deps/root "projects/test-runner"}}}}}
