{:brands  {:fields [[:id :uuid {:primary-key true
                                :null        false
                                :unique      true}]
                    [:value [:varchar 255] {:unique true
                                            :null   false}]
                    [:brand_name [:varchar 255] {:null false}]
                    [:created_at :timestamp {:null false}]
                    [:updated_at :timestamp {:null false}]]}
 :devices {:fields [[:id :uuid {:primary-key true
                                :null        false
                                :unique      true}]
                    [:brand_id :uuid {:null        false
                                      :foreign-key :brands/id}]
                    [:device_name [:varchar 255] {:null false}]
                    [:value [:varchar 255] {:unique true
                                            :null   false}]
                    [:description :text]
                    [:midi_specs :jsonb]
                    [:io_specs :jsonb]
                    [:metadata :jsonb]
                    [:created_at :timestamp {:null false}]
                    [:updated_at :timestamp {:null false}]]}}
