{:paths   ["src" "resources"]
 :deps    {org.clojure/data.json               {:mvn/version "2.5.0"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           clj-commons/clj-yaml                {:mvn/version "1.0.27"}
           dev.weavejester/medley              {:mvn/version "1.7.0"}

           metosin/muuntaja                    {:mvn/version "0.6.8"}
           metosin/muuntaja-form               {:mvn/version "0.6.8"}
           metosin/muuntaja-yaml               {:mvn/version "0.6.8"}
           }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {big-bang/testing {:local/root "../testing"}}}}}
