{:paths   ["src" "resources"]
 :deps    {clj-http/clj-http                   {:mvn/version "3.12.3"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           big-bang/serdes                     {:local/root "../serdes"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {big-bang/testing {:local/root "../testing"}}}}}

