#kaocha/v1
        {:tests [{:type         :kaocha.type/clojure.test
                  :id           :unit
                  :ns-patterns  ["-test$"]
                  :source-paths ["src"]
                  :test-paths   ["test"]
                  :skip-meta  [:integration]}]}
