{:paths   ["src" "resources"]
 :deps    {com.brunobonacci/mulog              {:mvn/version "0.9.0"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {big-bang/testing    {:local/root "../testing"}
                                big-bang/data-cloak {:local/root "../data-cloak"}}}}}
