({:action :create-table,
  :model-name :brands,
  :fields
  {:id {:primary-key true, :null false, :unique true, :type :uuid},
   :value {:unique true, :null false, :type [:varchar 255]},
   :brand-name {:null false, :type [:varchar 255]},
   :created-at {:null false, :type :timestamp},
   :updated-at {:null false, :type :timestamp}}}
 {:action :create-table,
  :model-name :devices,
  :fields
  {:midi-specs {:type :jsonb},
   :description {:type :text},
   :updated-at {:null false, :type :timestamp},
   :brand-id {:null false, :foreign-key :brands/id, :type :uuid},
   :value {:unique true, :null false, :type [:varchar 255]},
   :io-specs {:type :jsonb},
   :id {:primary-key true, :null false, :unique true, :type :uuid},
   :device-name {:null false, :type [:varchar 255]},
   :created-at {:null false, :type :timestamp},
   :metadata {:type :jsonb}}})
